* {
    margin: 0;
    padding: 0;
}


/* ---------------------------------------------PALETA DE COLORES SELECCIONADA------------------------------------------------------------------ */
:root {
    --verde: #00A859;
    --blanco: #FEFEFE;
    --gris: #3A4651;
    /*falta agregar rojo*/
}

body {
    font-family: 'Alegreya Sans', sans-serif;
}

.fondoInicio {
    background-color: var(--verde);
}



header img {
    width: 150px;
    padding: 20px 0px 20px 0px;
    
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}


.centrado {
    margin: 0 auto;
    width: 1200px;
}
img{
    width: 150px;
}
.itemActivo{
    border-bottom: 2px solid #00A859;
}
.prueba:hover{
    --Iconsax-Color: #2d00a8 ;
  
}

.iconos{
    display: inline-block;
    margin: 50px;
}
svg:hover .pruebaFill{
    fill: red;
}
svg:hover .pruebaStroke{
    stroke:red;
}
