* {
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: normal;
}


/* ---------------------------------------------PALETA DE COLORES SELECCIONADA------------------------------------------------------------------ */
:root {
    --verde: #00A859;
    --blanco: #FEFEFE;
    --gris: #3A4651;
    --rojo: #ba1a1a;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
}

.fondoInicio {
    background-color: var(--verde);
}

/* ----------------------------------------------------------HEADER--------------------------------------------------------- */
header img {
    width: 150px;
    padding: 20px 0px 20px 0px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    padding: 0 20px 0 20px;
}

.lineasMenu,
.menuDerecha {
    width: 20vw;
}

.menuDerecha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.lineasMenu button {
    background-color: var(--verde);
    border: none;
}

img {
    width: 150px;
}

/* ------------------------------------------------------------------------ MENU------------------------------------------------------------- */
#itemActivo {
    border-top: none;
    border-right: 1px solid var(--gris);
    color: var(--gris);
    background-color: var(--blanco);
}

nav {
    background-color: var(--verde);
    display: none;
    flex-direction: column;
    width: 50vw;
}

nav ul {
    list-style-type: none;
}

nav ul li a,
nav ul li a:link {
    text-decoration: none;
    display: block;
    text-align: center;
    border-bottom: 1px solid var(--gris);
    box-sizing: border-box;
    padding: 0.5em;
    color: var(--blanco);
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Andada Pro', serif;
}


nav button {
    background-color: var(--verde);
    border: none;
    border-bottom: 1px solid var(--gris);
    border-top: 1px solid var(--gris);
    padding: 0.6em;
}

.visible {
    display: flex;

}


/* --------------------------------------------------------------------ICONOS------------------------------------------------------------- */

.menuIconos {
    padding: 0 0.2em 0 0.2em;
}

.menuIconos:hover {
    --Iconsax-Color: var(--gris);
}

svg:hover .pruebaFill {
    fill: red;
}

svg:hover .pruebaStroke {
    stroke: red;
}


/* --------------------------------------------------------------------SLIDER--------------------------------------------------------------- */
.slider p {
    display: none;
}


/* ----------------------------------------------------------------SECCION NOVEDADES-------------------------------------------------------- */


.seccionNovedades h2 {
    color: var(--verde);
    margin-left: 1em;
    margin-top: 1em;
    font-weight: bold;
}

#novedades {
    padding: 0 1em 2em 1em;
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(1, 1fr);
    grid-gap: 20px;
}

#novedades article div {
    padding: 0.2em 0.5em 0.2em 0.5em;
}

#novedades article div figure {
    overflow: hidden;

}

#novedades article div figure img {
    width: 100%;
    object-fit: cover;
    height: 40vh;
    margin-top: 2em;
    box-sizing: border-box;
    border-radius: 0 25px 0 25px;
}

#novedades article div h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: var(--verde);
}

/* ----------------------------------------------------------------SECCION OFERTAS---------------------------------------------------------- */

#fondoOfertas {
    background: url(../img/trama_porcentaje.png) repeat;
    margin-bottom: 100px;

}

.seccionOfertas h2 {
    color: var(--blanco);
    font-weight: bold;
    margin-left: 1em;
    padding-top: 1em;
}

#ofertas {
    padding: 0 1em 2em 1em;
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(1, 1fr);
    grid-gap: 20px;
}


#ofertas article div div {
    background-color: var(--verde);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#ofertas article div div p {
    color: var(--blanco);
    font-weight: bold;
    font-size: 1.3em;
}

#ofertas article div {
    padding: 0.2em 0.5em 0.2em 0.5em;
}

#ofertas article div figure {
    overflow: hidden;

}

#ofertas article div figure img {
    width: 100%;
    object-fit: cover;
    height: 40vh;
    margin-top: 2em;
    box-sizing: border-box;
    border-radius: 0 25px 0 25px;
}

#ofertas article div h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: var(--blanco);
}

/*------------------------------------------------------ SECCION ICONO FILTRO MOBILE------------------------------------------------------------- */
.iconoFiltro {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1em 0 1em 1em;
}

.iconoFiltro .menuIconos {
    --Iconsax-Color: var(--verde);
}

.iconoFiltro p {
    color: var(--verde);
}

/* ------------------------------------------------------SECCION CATEGORIAS-----------------------------------------------------------------------*/

#categorias {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-top: 50px;

}
.categoriaScroll{
    flex: 0 0 auto;
    
}








/* --------------------------------------------------------------------FOOTER--------------------------------------------------------------- */

footer {
    background-color: var(--verde);
    color: var(--blanco);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

footer .teMail {
    display: none;
    flex-direction: row;
    align-items: center;
}

.teMail p {
    padding: 10px;
}

.redes>a {
    padding: 0.2em;
}

/* ---------------------------------------------- MEDIAS QUERYS---------------------------------------------------------------------------------- */

/* -----------------------------------------------RESOLUCION 576----------------------------------------------------------------------------------*/

@media screen and (min-width: 576px) {}

/* -------------------------------------------------RESOLUCION 768------------------------------------------------------------------------------ */
@media screen and (min-width: 768px) {

    /* -----------------------------MENU--------------------------------------------------------------- */
    #itemActivo {

        border-bottom: 2px solid var(--verde);
        border-right: none;
        color: var(--verde);
        background-color: var(--blanco);
    }

    nav {
        background-color: var(--blanco);
        display: block;
        width: 100%;
        margin-top: 20px;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }

    nav ul li {
        flex: 1;
    }

    nav ul li a,
    nav ul li a:link {
        border: none;
        text-decoration: none;
        display: block;
        text-align: center;
        box-sizing: border-box;
        padding: 0.5em;
        color: var(--gris);
        font-weight: bold;
        font-size: 1.3rem;
    }

    nav ul li a:hover {
        background-color: var(--gris);
        color: var(--blanco);
    }

    nav button {
        display: none;
    }

    .lineasMenu {
        display: none;
    }

    /* -----------------------------SLIDER------------------------------------------------------------------------------------------ */
    .slider {
        background: RGBA(100, 100, 100, 0.6) url(../img/slider1.jpg) no-repeat center center;
        background-blend-mode: multiply;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 500px;
        margin-top: 50px;
        animation: ciudadSlider 10s ease 3 alternate forwards;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .slider p:first-child {
        display: block;
        width: 50%;
        font-family: 'Andada Pro', serif;
        font-size: 1.5em;
        font-weight: bolder;
        color: var(--blanco);
        margin-bottom: 2em;
    }

    .slider p:last-child {
        display: block;
        text-align: center;
    }

    .slider p>a,
    .slider p>a:link {
        text-decoration: none;
        display: inline-block;
        background-color: var(--verde);
        border: none;
        width: 10em;
        font-size: 1.5em;
        color: var(--blanco);
        padding: 0.8em;
        border-radius: 0 25px 0 25px;


    }

    .slider p:last-child a:hover {
        background-color: var(--gris);
    }

    @keyframes ciudadSlider {
        0% {
            background: RGBA(100, 100, 100, 0.6) url(../img/slider1.jpg) no-repeat center center;
            background-blend-mode: multiply;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height: 500px;
        }

        50% {
            background: RGBA(100, 100, 100, 0.6) url(../img/slider2.jpg) no-repeat center center;
            background-blend-mode: multiply;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height: 500px;
        }

        100% {
            background: RGBA(100, 100, 100, 0.6) url(../img/slider3.jpg) no-repeat center center;
            background-blend-mode: multiply;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height: 500px;
        }
    }

    /* -----------------------------SECCION NOVEDADES--------------------------------------------------------------- */
    .seccionNovedades h2 {
        margin-left: 8px;
    }

    #novedades {
        padding: 0.2em;
        grid-template: repeat(1, 1fr)/repeat(4, 1fr);
        margin-bottom: 20px;
        grid-gap: 10px;
    }

    #novedades article div:hover {
        border-radius: 0 25px 0 25px;
        background-color: var(--gris);
    }

    #novedades article div:hover h3 {
        color: var(--blanco);
    }

    #novedades article div figure img {
        height: 30vh;
    }

    /* -----------------------------SECCION OFERTAS--------------------------------------------------------------- */
    #fondoOfertas {
        padding: 5em 0 5em 0;
    }

    .seccionOfertas {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .seccionOfertas h2 {

        font-size: 3em;
        width: 20%;

    }

    #ofertas {
        padding: 0.2em;
        grid-template: repeat(1, 1fr)/repeat(3, 1fr);
        margin-bottom: 20px;
        grid-gap: 10px;
    }

    #ofertas article div:hover,
    #ofertas article div:hover div {
        border-radius: 0 25px 0 25px;
        background-color: var(--gris);

    }

    #ofertas article div:hover h3 {
        color: var(--blanco);
    }

    #ofertas article div figure img {
        height: 30vh;
    }


    /* ---------------------------- SECCION ICONO FILTRO MOBILE------------------------------------------ */
    .iconoFiltro {
        display: none;
    }

    
    /* -----------------------------FOOTER--------------------------------------------------------------- */

    footer>div {
        gap: 48vw;
    }

    footer .teMail {
        display: flex;
    }

}


/* ------------------------------------------------RESOLUCION 992------------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {
    .menuDerecha {
        width: 10vw;
    }

    .slider p:first-child {
        margin-bottom: 5em;
    }

}

/* -------------------------------------------RESOLUCION 1200---------------------------------------------------------------------------------- */
@media screen and (min-width: 1200px) {
    nav.centrado {
        margin-top: 20px;
    }

    .centrado {
        margin: 0 auto;
        width: 1200px;
    }

    .slider p {
        width: 1200px;
    }

    footer>div {
        gap: 20vw;
    }

}