* {
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: normal;
}


/* ---------------------------------------------PALETA DE COLORES SELECCIONADA------------------------------------------------------------------ */
:root {
    --verde: #00A859;
    --blanco: #FEFEFE;
    --gris: #3A4651;
    --rojo: #ba1a1a;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
}

/* ----------------------------------------------------------HEADER--------------------------------------------------------- */
header img {
    width: 150px;
    padding: 20px 0px 20px 0px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    padding: 0 20px 0 20px;
}

.lineasMenu,
.menuDerecha {
    width: 20vw;
}

.menuDerecha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.lineasMenu button {
    background-color: var(--verde);
    border: none;
}



/* ------------------------------------------------------------------------ MENU------------------------------------------------------------- */
#itemActivo {
    border-top: none;
    border-right: 1px solid var(--gris);
    color: var(--gris);
    background-color: var(--blanco);
}

nav {
    background-color: var(--verde);
    display: none;
    flex-direction: column;
    width: 50vw;
}

nav ul {
    list-style-type: none;
}

nav ul li a,
nav ul li a:link {
    text-decoration: none;
    display: block;
    text-align: center;
    border-bottom: 1px solid var(--gris);
    box-sizing: border-box;
    padding: 0.5em;
    color: var(--blanco);
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Andada Pro', serif;
}


nav button {
    background-color: var(--verde);
    border: none;
    border-bottom: 1px solid var(--gris);
    border-top: 1px solid var(--gris);
    padding: 0.6em;
}

.visible {
    display: flex;

}


/* --------------------------------------------------------------------ICONOS------------------------------------------------------------- */

.menuIconos {
    padding: 0 0.2em 0 0.2em;
}

.menuIconos:hover {
    --Iconsax-Color: var(--gris);
}



/* --------------------------------------------------------------------SLIDER--------------------------------------------------------------- */
.slider p {
    display: none;
}


/* ----------------------------------------------------------------SECCION NOVEDADES-------------------------------------------------------- */


.seccionNovedades h2 {
    color: var(--verde);
    margin-left: 1em;
    margin-top: 1em;
    font-weight: bold;
}

#novedades {
    padding: 0 1em 2em 1em;
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(1, 1fr);
    grid-gap: 20px;
}

#novedades article div {
    padding: 0.2em 0.5em 0.2em 0.5em;
}

#novedades article div figure {
    overflow: hidden;

}

#novedades article div figure img {
    width: 100%;
    object-fit: cover;
    height: 40vh;
    margin-top: 2em;
    box-sizing: border-box;
    border-radius: 0 25px 0 25px;



}

#novedades article div h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: var(--verde);
}

/* ----------------------------------------------------------------SECCION OFERTAS---------------------------------------------------------- */

#fondoOfertas {
    background: url(../img/trama_porcentaje.png) repeat;
    margin-bottom: 100px;

}

.seccionOfertas h2 {
    color: var(--blanco);
    font-weight: bold;
    margin-left: 1em;
    padding-top: 1em;
}

#ofertas {
    padding: 0 1em 2em 1em;
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(1, 1fr);
    grid-gap: 20px;
}


#ofertas article div div {
    background-color: var(--verde);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#ofertas article div div p {
    color: var(--blanco);
    font-weight: bold;
    font-size: 1.3em;
}

#ofertas article div {
    padding: 0.2em 0.5em 0.2em 0.5em;
}

#ofertas article div figure {
    overflow: hidden;

}

#ofertas article div figure img {
    width: 100%;
    object-fit: cover;
    height: 40vh;
    margin-top: 2em;
    box-sizing: border-box;
    border-radius: 0 25px 0 25px;
}

#ofertas article div h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: var(--blanco);
}

/*------------------------------------------------------ SECCION ICONO FILTRO MOBILE------------------------------------------------------------- */
.iconoFiltro {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1em 0 1em 1em;
}

.iconoFiltro .menuIconos {
    --Iconsax-Color: var(--verde);
}

.iconoFiltro p {
    color: var(--verde);
    padding-right: 10px;
}

.carrito {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}

.carrito span {
    color: var(--verde);
    background-color: var(--blanco);
    border-radius: 100px;
    width: 15px;
    height: 15px;
    text-align: center;
    position: absolute;
    bottom: -0.2em;
    left: 1.3em;
    font-size: 0.8em;
    display: block;
}

/* ------------------------------------------------------SECCION CATEGORIAS-----------------------------------------------------------------------*/

#categorias {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-top: 2em;
}

.categoriaScroll {
    flex: 0 0 auto;
    margin: 10px;
}

.categoriaScroll figure figcaption {
    text-align: center;
    font-weight: bold;
    margin: 0.2em 0 1em 0;
}

#categorias::-webkit-scrollbar {
    display: none;
}

.categoriaScroll figure img {
    border-radius: 0 25px 0 25px;
    box-sizing: border-box;
    width: 150px;
}

/* ------------------------------------------------------SECCION FILTROS-----------------------------------------------------------------------*/

.filtroMobile {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    place-items: center;
    /* cuando se visualice la modal hay que poner grid */
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: center;
    z-index: 9000;
}

.fondoInicio {
    background-color: var(--verde);
}

.filtroMobile>.fondoInicio {
    padding: 3em 2em 3em 2em;
    margin-bottom: 1em;
}

.filtroPrecio {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filtroPrecio>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filtroPrecio h2 {
    color: var(--blanco);
    text-align: center;
}

.filtroPrecio>div input[type="number"] {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--blanco);
    border-radius: 2px;
    margin-bottom: 2em;
    color: var(--blanco);
}

.filtroPrecio>div input[type="number"]:first-child {
    margin-right: 1.5em;
}

.filtroPrecio>div input[type="number"]:focus {
    color: var(--blanco);
    outline: none;
}

.filtroPrecio>div input[type="number"]::placeholder {
    color: var(--blanco);
    text-align: center;
}

.filtroTamaño,
.filtroDto {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filtroTamaño h2,
.filtroDto h2 {
    color: var(--blanco);
    text-align: center;
}

.filtroDto {
    margin-top: 1em;
}

.filtroTamaño>div,
.filtroDto div {
    color: var(--blanco);
}

.filtroTamaño>div>div,
.filtroDto div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.filtroTamaño>div>div input[type="radio"],
.filtroDto div input[type="checkbox"] {
    display: none;
}

.filtroTamaño>div>div label,
.filtroDto div label {
    padding-left: 10px;
}

.filtroTamaño>div>div label:hover,
.filtroDto div label:hover {
    color: var(--gris);
}

.filtroTamaño>div div>input[type="radio"]:checked+label,
.filtroDto div input[type="checkbox"]:checked+label {
    border-bottom: 2px solid var(--blanco);
    border-top: 2px solid var(--blanco);
    padding: 5px;
    box-sizing: border-box;
}

.filtroMobile input[type="button"] {
    background-color: var(--verde);
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
    color: var(--blanco);
    width: 50%;
    font-size: 1.3em;
}

/* ------------------------------------------------------SECCION ARTICULOS------------------------------*/

.articulos {
    display: flex;
    flex-direction: column;
    height: 40%;
    margin-bottom: 100px;
}

.articulos article {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.articulos article>div {
    padding: 1em;
}

.articulos article>div h3 {
    margin: 0.5em auto;
}


.articulos article>div h3,
.articulos article>div div {
    color: var(--verde);
}

.articulos article>div div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;

}

.articulos article div div p {
    font-size: 1.3em;
    font-weight: bold;
}

.articulos article figure img {
    width: 100%;
}

.articulos article div div div {
    width: 20%;
}

/* -----------------------------------------------------------DETALLE ARTICULO------------------------------------------------------------- */
.datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.contenedorImagenes {
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 1em;
}

.imgPrincipal {
    margin-bottom: 1.5em;

}

.imgPrincipal img {
    width: 100%;

    border-radius: 0 50px 0 50px;
}

.imgMiniaturas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.imgMiniaturas img {
    width: 30%;
    border-radius: 0 25px 0 25px;
}

.descripcion {
    padding: 0 1em;
}

.descripcion h2,
.descripcion p {
    margin-bottom: 1em;
}

.descripcion>div>p {
    display: none;
}

.nombrePrecio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--verde);
}

.nombrePrecio p {
    font-weight: bold;
    font-size: 1.3em;

}

.botonera {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.botonera input[type="button"] {
    width: 100%;
    text-align: center;
    padding: 0.5em;
    margin: 0.5em auto;
    font-size: 1.2em;
}

.botonera input[type="button"]:first-child {
    background-color: var(--verde);
    border: none;
    color: var(--blanco);
    border-radius: 0 20px 0 20px;
}

.botonera input[type="button"]:last-child {
    background-color: transparent;
    border: none;
    color: var(--verde);
    background: url(../iconos/heart.svg) no-repeat 20% center;
}

.botonera input[type="button"]:nth-of-type(2) {
    background-color: transparent;
    border: 1px solid var(--verde);
    color: var(--verde);
    border-radius: 0 20px 0 20px;

}

/* <!-- -------------------------------------------------SECCION VENTA CRUZADA DETALLE-------------------------------------------------- --> */
/* <!-- -------------------------------------------------SECCION VENTA CRUZADA CARRITO-------------------------------------------------- --> */

.vtaCruzadadetalle {
    display: flex;
    flex-direction: column;
}

.tituloVtaDetalle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 1em;
}

.tituloVtaDetalle h2 {
    color: var(--gris);
    width: 60%;
    text-align: center;
    margin: 0 .2em 0 0.2em;
}

.tituloVtaDetalle hr {
    width: 20%;
    border: none;
    border-top: 1px solid var(--gris);
}

.articulosVtaDetalle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 2em;
}

.articulosVtaDetalle article {
    width: 40%;

}

.articulosVtaDetalle article div figure img {
    width: 100%;
    height: 30vh;
    border-radius: 0 25px 0 25px;
}

.articulosVtaDetalle article>div:last-child h3,
.articulosVtaDetalle article>div:last-child p {
    margin-top: 0.5em;

}

.articulosVtaDetalle article>div:last-child p {
    margin-bottom: 1em;
}

.precioIcono {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.precioIcono .menuIconos {
    --Iconsax-Color: var(--gris);
    margin: 0.5em 0 1em 0;
}

.precioIcono p {
    font-weight: bold;
    font-size: 1.2em;
}

/* ---------------------------------------------------------SECCION ARTICULOS EN CARRITO---------------------------------------------------- */

.carritoResumen {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.artCarrito {
    margin-bottom: 2em;
    margin-top: 2em;
}

.artCarrito article {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-bottom: 2em;
}

.artCarrito article figure {
    width: 50%;
    padding: 0.5em;

}

.artCarrito article figure img {
    width: 100%;
    height: 100%;
    border-radius: 0 25px 0 25px;
}

.precioMobile {
    margin-top: 2em;
    font-size: 1.2em;
    font-weight: bolder;
}

.descripcionCarrito div:first-child p {
    margin: 2em auto;
}

.descripcionCarrito div:first-child p:last-child .menuIconos {
    --Iconsax-Color: var(--gris);
    --Iconsax-Size: 20px;
}
.descripcionCarrito div:first-child p:last-child span{
    padding: 0 0.5em 0 0.5em;
}
.bototesEliminarFav {
    display: flex;
    flex-direction: column;
}

#btnEliminar {
    margin: 2em 0 2em 0;
}

.precioDesktop {
    display: none;
}

.formResumen {
    width: 100%;
    color: var(--gris);
    padding: 0.5em;
    box-sizing: border-box;
}

.tituloResumen {
    text-align: center;
}

.tituloResumen hr,
.formResumen hr {
    border: 1px solid var(--gris);
    margin: 1em 0 1em 0;
}

.subTotal,
.envio,
.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
}

.total p {
    font-weight: bold;
}

.formResumen input[type="button"] {
    background-color: var(--verde);
    border: none;
    color: var(--blanco);
    border-radius: 0 20px 0 20px;
    width: 100%;
    text-align: center;
    padding: 0.5em;
    margin: 0.5em auto;
    font-size: 1.2em;
}


/* --------------------------------------------------------------------FOOTER------------------------------------------------------------ */

footer {
    background-color: var(--verde);
    color: var(--blanco);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}


footer .teMail {
    display: none;
    flex-direction: row;
    align-items: center;
}

.teMail p {
    padding: 10px;
}

.redes>a {
    padding: 0.2em;
}

/* ---------------------------------------------- MEDIAS QUERYS---------------------------------------------------------------------------------- */

/* -----------------------------------------------RESOLUCION 576----------------------------------------------------------------------------------*/

@media screen and (min-width: 576px) {}

/* -------------------------------------------------RESOLUCION 768------------------------------------------------------------------------------ */
@media screen and (min-width: 768px) {

    /* -----------------------------MENU-768--------------------------------------------------------------- */
    #itemActivo {

        border-bottom: 2px solid var(--verde);
        border-right: none;
        color: var(--verde);
        background-color: var(--blanco);
    }

    nav {
        background-color: var(--blanco);
        display: block;
        width: 100%;
        margin-top: 20px;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }

    nav ul li {
        flex: 1;
    }

    nav ul li a,
    nav ul li a:link {
        border: none;
        text-decoration: none;
        display: block;
        text-align: center;
        box-sizing: border-box;
        padding: 0.5em;
        color: var(--gris);
        font-weight: bold;
        font-size: 1.3rem;
    }

    nav ul li a:hover {
        background-color: var(--gris);
        color: var(--blanco);
    }

    nav button {
        display: none;
    }

    .lineasMenu {
        display: none;
    }

    /* -----------------------------SLIDER-768------------------------------------------------------------------------------------------ */
    .slider {
        background: RGBA(100, 100, 100, 0.6) url(../img/slider1.jpg) no-repeat center center;
        background-blend-mode: multiply;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 500px;
        margin-top: 50px;
        animation: ciudadSlider 10s ease 3 alternate forwards;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .slider p:first-child {
        display: block;
        width: 50%;
        font-family: 'Andada Pro', serif;
        font-size: 1.5em;
        font-weight: bolder;
        color: var(--blanco);
        margin-bottom: 2em;
    }

    .slider p:last-child {
        display: block;
        text-align: center;
    }

    .slider p>a,
    .slider p>a:link {
        text-decoration: none;
        display: inline-block;
        background-color: var(--verde);
        border: none;
        width: 10em;
        font-size: 1.5em;
        color: var(--blanco);
        padding: 0.8em;
        border-radius: 0 25px 0 25px;
    }

    .slider p:last-child a:hover {
        background-color: var(--gris);
    }

    @keyframes ciudadSlider {
        0% {
            background: RGBA(100, 100, 100, 0.6) url(../img/slider1.jpg) no-repeat center center;
            background-blend-mode: multiply;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height: 500px;
        }

        50% {
            background: RGBA(100, 100, 100, 0.6) url(../img/slider2.jpg) no-repeat center center;
            background-blend-mode: multiply;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height: 500px;
        }

        100% {
            background: RGBA(100, 100, 100, 0.6) url(../img/slider3.jpg) no-repeat center center;
            background-blend-mode: multiply;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height: 500px;
        }
    }

    /* -----------------------------SECCION NOVEDADES-768--------------------------------------------------------------- */
    .seccionNovedades h2 {
        margin-left: 8px;
    }

    #novedades {
        padding: 0.2em;
        grid-template: repeat(1, 1fr)/repeat(4, 1fr);
        margin-bottom: 20px;
        grid-gap: 10px;
    }

    #novedades article div:hover {
        border-radius: 0 25px 0 25px;
        background-color: var(--gris);
    }

    #novedades article div:hover h3 {
        color: var(--blanco);
    }

    #novedades article div figure img {
        height: 30vh;
    }

    /* -----------------------------SECCION OFERTAS-768--------------------------------------------------------------- */
    #fondoOfertas {
        padding: 5em 0 5em 0;
    }

    .seccionOfertas {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .seccionOfertas h2 {

        font-size: 3em;
        width: 20%;

    }

    #ofertas {
        padding: 0.2em;
        grid-template: repeat(1, 1fr)/repeat(3, 1fr);
        margin-bottom: 20px;
        grid-gap: 10px;
    }

    #ofertas article div:hover,
    #ofertas article div:hover div {
        border-radius: 0 25px 0 25px;
        background-color: var(--gris);

    }

    #ofertas article div:hover h3 {
        color: var(--blanco);
    }

    #ofertas article div figure img {
        height: 30vh;
    }


    /* ---------------------------- SECCION ICONO FILTRO MOBILE-768------------------------------------------ */
    .iconoFiltro {
        display: none;
    }

    /* ---------------------------- SECCION CATEGORIAS-768------------------------------------------ */
    #categorias {
        justify-content: center;
        margin-top: 3em;
    }

    .categoriaScroll figure img:hover {
        border: 5px solid var(--verde)
    }

    .elementoActivo {
        border: 5px solid var(--verde);


    }

    /* ------------------------------------------SECCION FILTROS-768------------------------------------------*/
    .filtroMobile {
        width: 60%;
        height: 50%;
        background-color: transparent;
        position: static;
        /* cuando se visualice la modal hay que poner flex */
        /* display: flex; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 0;
        margin-bottom: 50px;
    }

    .filtroMobile>.fondoInicio {
        background-color: var(--verde);
        padding: 1em;
    }

    /* -------------------------------------SECCION ARTICULOS-768------------------------------ */

    .dosSecciones {
        display: flex;
        flex-direction: row;
        gap: 1em;
        margin-top: 50px;
        justify-content: center;
    }

    .articulos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2em;
        height: 50%;
        margin-bottom: 100px;
        justify-content: flex-end;
        align-items: flex-start;
        width: 60%;
    }

    .articulos article {
        display: flex;
        flex-direction: column;
    }


    svg:hover .pruebaFill {
        fill: var(--blanco);
    }

    svg:hover .pruebaStroke {
        stroke: var(--blanco);
        ;
    }

    .articulos article:hover>div {
        background-color: var(--verde);
        border-radius: 0 25px 0 0;
    }

    .articulos article:hover>div h3,
    .articulos article:hover>div div,
    .articulos article:hover>div div svg .pruebaFill {
        color: var(--blanco);
        fill: var(--blanco);

    }

    .articulos article:hover>div div svg .pruebaStroke {

        stroke: var(--blanco);
        ;
    }

    /* ---------------------------------DETALLE ARTICULO-768--------------------------------------------------- */
    .datos {
        flex-direction: row;
    }

    .nombrePrecio {
        flex-direction: column;
        align-items: flex-start;
    }

    .descripcion>div>p {
        display: block;
    }

    .botonera input[type="button"]:last-child {
        background: url(../iconos/heart.svg) no-repeat 2% center;
        text-align: end;
    }

    .botonera input[type="button"]:nth-of-type(2):hover {
        border: 2px solid var(--gris);
        color: var(--gris);

    }

    .botonera input[type="button"]:last-child:hover {

        border-bottom: 2px solid var(--gris);

    }

    /* <!-- ---------------------------------SECCION VENTA CRUZADA DETALLE-768 -------------------------------------------------- --> */
    /* <!-- ---------------------------------SECCION VENTA CRUZADA CARRITO-768 -------------------------------------------------- --> */

    .articulosVtaDetalle article {
        width: 20%;
    }

    .articulosVtaDetalle article:hover {
        background-color: var(--verde);
    }

    .articulosVtaDetalle article:hover>div:last-child h3 {
        color: var(--blanco);
    }

    .articulosVtaDetalle article:hover .precioIcono .menuIconos {
        --Iconsax-Color: var(--blanco);
    }

    .articulosVtaDetalle article:hover .precioIcono p {
        color: var(--blanco);
    }

    .articulosVtaDetalle article div figure {
        padding: 0.5em;
    }

    .articulosVtaDetalle article div figure img {
        width: 100%;
        height: 15vh;
    }

    .articulosVtaDetalle article>div:last-child p {
        margin-bottom: 0;
    }

    .botonera input[type="button"]:first-child:hover {
        background-color: var(--gris);
    }

    .articulosVtaDetalle article>div:last-child h3 {
        color: var(--verde);
    }

    .precioIcono {
        margin: 0.5em 0 0.5em 0;
        color: var(--verde);
    }

    .precioIcono .menuIconos {
        --Iconsax-Color: var(--verde);
        margin: 0;
    }

    .precioIcono p {
        font-size: 1em;
        margin: 0;
    }


    /* ----------------------------------SECCION ARTICULOS EN CARRITO-768---------------------------------------------------- */

    .carritoResumen {
        flex-direction: row;
        place-items: flex-start;
        margin-left: 0.5em;
        justify-content: center;
    }

    .artCarrito article {
        background-color: var(--verde);
        border-radius: 0 50px 0 50px;
        padding: 0.5em;
    }

    .descripcionCarrito {
        width: 30%;
        padding: 0 1em 1em 1em;
        color: var(--blanco);
    }
    .descripcionCarrito div:first-child p:last-child .menuIconos {
        --Iconsax-Color: var(--blanco);
    }
   
    .artCarrito {
        width: 65%;
        margin-right: 0.5em;
    }

    .formResumen {
        width: 30%;
    }

    .tituloResumen {
        margin-top: 2em;
    }
    .formResumen input[type="button"]:hover {
        background-color: var(--gris);
    }
    




    /* -----------------------------FOOTER-768--------------------------------------------------------------- */

    footer>div {
        gap: 48vw;
    }

    footer .teMail {
        display: flex;
    }

}


/* ------------------------------------------------RESOLUCION 992------------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {
    .menuDerecha {
        width: 10vw;
    }

    .slider p:first-child {
        margin-bottom: 5em;
    }

    .articulos article div {
        padding: 0;
    }

    .filtroMobile {
        width: 40%;
    }

    .articulos {
        gap: 2em;
        justify-content: flex-start;
        width: 70%;
    }

    .articulos article {
        width: 30%;
    }

    .articulos article div div div {
        width: 30%;
    }

    #datosArticulos article>div {
        padding: 5px;
    }

    .articulos article figure img {
        border-radius: 0 25px 0 25px;
    }

    /* ---------------------------------DETALLE ARTICULO-992--------------------------------------------------- */
    .datos {
        flex-direction: row;
    }

    .contenedorImagenes {
        flex-direction: row;
        gap: 1em;
        padding: 0 0 0 0.5em;
        margin-top: 2em;
        justify-content: flex-start;
        margin-bottom: 2em;
    }

    .imgPrincipal {
        width: 70%;
        margin: 0;
    }

    .imgPrincipal img {
        width: 100%;
    }

    .imgMiniaturas {
        flex-direction: column;
        width: 20%;
        gap: 15px;
    }

    .imgMiniaturas img {
        width: 100%;
    }

    .descripcion {
        width: 30%;
        padding: 0 1em 0 0;
        margin-top: 2em;
    }

    /* <!-- ---------------------------------SECCION VENTA CRUZADA DETALLE-992-------------------------------------------------- --> */
    /* <!-- ---------------------------------SECCION VENTA CRUZADA CARRITO-992-------------------------------------------------- --> */
    .articulosVtaDetalle article div figure img {
        height: 20vh;
    }

    .precioIcono {
        justify-content: space-between;
    }

    /* -----------------------------------------SECCION ARTICULOS EN CARRITO-992--------------------------------------------------- */

    
    .descripcion {
        color: var(--blanco);
    }

    .precioMobile {
        display: none;
    }

    .precioDesktop {
        display: flex;
        align-items: center;
        color: var(--blanco);
        font-size: 1.3em;
        font-weight: bolder;
    }
  
    .artCarrito article figure {
        width: 40%;
    }

}




/* -------------------------------------------RESOLUCION 1200---------------------------------------------------------------------------------- */
@media screen and (min-width: 1200px) {
    nav.centrado {
        margin-top: 20px;
    }

    .filtroMobile {
        width: 25%;
    }

    .articulos article div div div {
        width: 25%;
    }

    .centrado {
        margin: 0 auto;
        width: 1200px;
    }

    .slider p {
        width: 1200px;
    }

    .contenedorImagenes {
        padding: 0;
        width: 60%;
    }

    .botonera input[type="button"]:last-child {

        background: url(../iconos/heart.svg) no-repeat 10% center;
        text-align: center;
    }

    /* <!-- ---------------------------------SECCION VENTA CRUZADA DETALLE-1200-------------------------------------------------- --> */
    .articulosVtaDetalle article div figure img {

        height: 30vh;
    }

    footer>div {
        gap: 20vw;
    }

}