* {
    margin: 0;
    padding: 0;
}
@import{}

/* ---------------------------------------------PALETA DE COLORES SELECCIONADA------------------------------------------------------------------ */
:root {
    --verde: #00A859;
    --blanco: #FEFEFE;
    --gris: #3A4651;
    /*falta agregar rojo*/
}

body {
    font-family: 'Alegreya Sans', sans-serif;
}

.fondoInicio {
    background-color: var(--verde);
}



header img {
    width: 150px;
    padding: 20px 0px 20px 0px;
    
}


.centrado {
    margin: 0 auto;
    width: 1200px;
}